{sub_dirs, [
            "src"
           ]}.
{deps, [
    {subspace, ".*",{git, "https://github.com/lx7/subspace.git", "master"}},
    {cowboy, ".*",{git, "git://github.com/extend/cowboy.git", "master"}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "0.9.0"}},
	{sync, ".*",{git, "https://github.com/rustyio/sync.git", "master"}}
]}.
{erl_opts, [warnings_as_errors]}.

